body{
 font-family:Century Gothic, CenturyGothic, AppleGothic, sans-serif !important;
 background-color: hsl(0, 0%, 100%) !important;
}
@media (max-width: 1440px) {
    .container-fluid{
        width: 100% !important;
    }
    h1{
        font-size: medium !important;
    }
    
    #logo {
        width: 80% !important;
    }
        
}
.container-fluid{
    width: 80% !important;
}
h1{
    border-radius: 8px;
    width: 100%;
    text-align: center;
    margin: auto !important;
    background-color: rgb(181, 156, 45);
    color:white !important;
    font-weight: bold !important;
    margin-top: 30px !important;
    padding: 10px;
    margin-bottom: 30px !important;
}
#hub-sites span div{
    width: 80%;   
    height: 200px;
    margin: auto;
    margin-top: 10px;
    background-color: cornflowerblue;
    color: white;
    
}
span.col-lg-3 {
    padding: 0px;
}
span.col-lg-4 {
    padding: 0px;
}
#sez-siti-head{
    margin-top: 50px !important;
    margin-bottom: 65px !important;
}
#form-agg-sito{
    
    margin: auto;
    margin-bottom: 20px;
    background-color: rgb(254, 254, 254);
    padding: 20px;
    border-radius: 8px;
    color: rgb(0, 0, 0);
}
#form-agg-sito{
    margin-top: 10px;
}
#form-agg-sito label{
    font-size: 17px;
    font-weight: bold;
}
#form-agg-sito
.button-sez  {
    margin-top: 10px;
}

.button-sez button{
    width: 70%;
    margin-left: 15%;
   border-radius: 8px;
}

#logo {
    width: 17%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logo-siti {
  
        width:50%;
        height: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
   
}

#adisu
{
    background-color: rgb(53, 143, 240);
    
}
#unistudium, #sol {
    font-size: 25px;
}

.siti-head{

    height: 60px;
    margin-top: 20px;
    
    
}

.btn-box{
    background-color: rgba(255,255,255,0.5);
    border: solid 1px;
    border-color:  rgba(255,255,255,0);
    margin-top: 5px;
    
}
.btn-box:hover{
    background-color: rgba(255,255,255,1);
}
.btn-hub {
    background-color: rgba(0,0,0,0.5);
    width: 97% !important;
    margin: auto;
    font-weight: bold !important;
    font-size: large !important;
    color: white;
    margin-bottom: 20px;
}

.btn-hub:hover{
    background-color: black;
    
   /* color: rgb(65, 65, 142);*/
}

